@import '../../../styles';

.employees-list {
  margin: 0 0 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  &__header {
    background-color: $menu;
    font-weight: bold;
    padding: 0.5rem 1rem;
    height: 2rem;
    text-align: left;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border;
  }
  &__button {
    width: calc(100% - 2rem);
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    margin: 1rem;
    border: 1px solid $border;
    display: flex;
    border-radius: $border-radius-size;
    height: 1.8rem;
    align-items: center;
    &-add {
      align-self: flex-end;
      margin: 0.5rem;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;

      justify-content: center;
      align-items: center;
    }

    &--selected {
      background-color: $primary;
      color: $background;
    }
    &:hover {
      background-color: $secondary;
    }

    &__name-surname {
      margin: 0 auto;
    }
  }
}
