@import './colors';

$box-shadow-size: 10px;
$border-radius-size: 0.25rem;
$border-width: 1px;
$font-size-body: 10px;
$border-default: $border-width solid $border;
$border-button: $border-width solid black;
