<mat-toolbar class="header">
  <img class="header__icon" src="/assets/images/employee.png" alt="" />
  <h1 class="header__page-title">{{ "header.title" | translate }}</h1>
  <app-basic-button
    [isHeader]="true"
    routerLinkActive
    #rla1="routerLinkActive"
    [routerLink]="[ROUTES.EMPLOYEES]"
    [isRouterLinkActive]="rla1.isActive"
  >
    {{ "header.employees" | translate }}
  </app-basic-button>
  <app-basic-button
    [isHeader]="true"
    routerLinkActive
    #rla2="routerLinkActive"
    [isRouterLinkActive]="rla2.isActive"
    [routerLink]="[ROUTES.DASHBOARD]"
  >
    {{ "header.dashboard" | translate }}
  </app-basic-button>

  <app-menu></app-menu>
</mat-toolbar>
