<div class="employees">
  <div class="employees__list">
    <app-employees-list
      [listOfEmployees]="listOfEmployees"
      (selectEmployee)="onSelectEmployee($event)"
      (deleteEmployeeEmitter)="onDeleteEmployee($event)"
      (creatingNewEmployee)="onCreatingEmployee($event)"
    ></app-employees-list>
  </div>
  @if (selectedEmployee || isCreating) {
    <div class="employees__details">
      <app-employee-details
        [isCreating]="isCreating"
        [employee]="selectedEmployee"
        (updatedEmployee)="onUpdateEmployee($event)"
      ></app-employee-details>
    </div>
  }
</div>
