@import '../../../styles';

.projects-tile {
  &__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  &__list {
    list-style-type: none;
    &-element {
      margin-bottom: 0.5rem;
      &-name {
        font-weight: bold;
      }
      &-description {
      }
      &-technologies {
        flex-wrap: wrap;
        display: flex;
        gap: 1rem;
      }
      &-technology {
        display: inline-block;
        background-color: $background;
        border-radius: 1rem;
        padding: 0.5rem;
        font-size: 0.8rem;
        text-align: center;
        min-width: 2rem;
      }
    }
  }
}
