<div class="projects-tile">
  <div class="projects-tile__title">Projects:</div>
  <ul class="projects-tile__list">
    @for (project of employee.projectsList; track project.name) {
      <li class="projects-tile__list-element">
        <span class="projects-tile__list-element-name">{{ project.name }}: </span>
        <span class="projects-tile__list-element-description">{{ project.description }}</span>
        <div class="projects-tile__list-element-technologies">
          @for (technology of project.technologies; track technology) {
            <div class="projects-tile__list-element-technology">{{ technology }}</div>
          }
        </div>
      </li>
    }
  </ul>
</div>
