@import "../../../../../../../../public/assets/styles/styles";

.employees-list {
  margin: 0 0 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  background-color: white;
  border: $border-default;
  box-shadow: 0 0 10px 1px $secondary !important;

  &__header {
    font-weight: bold;
    padding: 0.5rem 1rem;
    height: 2rem;
    text-align: left;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    align-self: center;
  }

  &__buttons-group {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
  }

  &__button {
    width: calc(100% - 2rem);
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    margin: 1rem;
    border: $border-default;
    display: flex;
    border-radius: $border-radius-size;
    height: 1.8rem;
    align-items: center;

    &-list {
      align-self: flex-end;
    }

    &:hover {
      background-color: $secondary;
    }
    &__icon {
      margin-left: auto;
    }
    &__name-surname {
      font-weight: normal;

      flex: 1;
    }
  }
}

.employee-option {
  display: flex;
  align-items: center;
}
