@import "../../../../../../../../public/assets/styles/styles";

$header-height: 2rem;
$header-font-size: 1.1rem;

.employees-list {
  margin: 0 0 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  border: $border-default;
  box-shadow: $border-default-shadow;

  &__option {
    display: flex;
    align-items: center;

    &--selected {
      background-color: $primary !important;
    }
  }

  &__search-input {
    width: 90%;
    align-self: center;
    justify-self: center;
  }

  &__header {
    font-weight: bold;
    padding: $small-padding $normal-padding;
    height: $header-height;
    text-align: left;
    display: flex;
    align-items: center;
    margin: $normal-margin 0;
    align-self: center;
    font-size: $header-font-size;
  }

  &__buttons-group {
    display: flex;
    justify-content: flex-end;
    margin: $normal-margin 0;
  }
}
