<mat-card appearance="outlined">
  <mat-card-header class="employees-list__header">{{ "employees.list.title" | translate }}</mat-card-header>
  <mat-card-content>
    @for (employee of listOfEmployees; track employee.id) {
      <button
        type="button"
        [class.employees-list__button--selected]="employee.id === selectedEmployee?.id!"
        class="employees-list__button"
        (click)="onSelect(employee)"
      >
        <span class="employees-list__button__name-surname">{{ employee.name }} {{ employee.surname }}</span>
      </button>
    }
  </mat-card-content>
  <mat-card-footer>
    <div class="employees-list__buttons-group">
      <button class="employees-list__button-add" type="button" (click)="deleteEmployee()">
        <i class="fa fa-trash"></i>
      </button>
      <button class="employees-list__button-add" type="button" (click)="addEmployee()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
