<div class="profile-info">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    @if (creatingEmployee) {
      <div class="profile-info__title">{{ "employees.details.title.creating" | translate }}</div>
    } @else {
      <div class="profile-info__title">{{ "employees.details.title.editing" | translate }}</div>
    }

    <div class="profile-info__row">
      <div class="profile-info__tile">
        <label for="name" class="profile-info__tile-label">{{ "employees.details.name.label" | translate }}</label>
        <input
          id="name"
          class="profile-info__tile-input"
          type="text"
          formControlName="name"
          placeholder="{{ 'employees.details.name.placeholder' | translate }}"
        />
        @if (employeeForm.controls.name.hasError("required")) {
          <div class="profile-info__tile-error">{{ "employees.details.validation.employee.name" | translate }}</div>
        }
      </div>

      <div class="profile-info__tile">
        <label for="surname" class="profile-info__tile-label">
          {{ "employees.details.surname.label" | translate }}
        </label>
        <input
          id="surname"
          class="profile-info__tile-input"
          type="text"
          formControlName="surname"
          placeholder="{{ 'employees.details.surname.placeholder' | translate }}"
        />
        @if (employeeForm.controls.surname.hasError("required")) {
          <div class="profile-info__tile-error">{{ "employees.details.validation.employee.surname" | translate }}</div>
        }
      </div>
    </div>
    <div class="profile-info__tile">
      <label for="hire-date" class="profile-info__tile-label">
        {{ "employees.details.date.of.hire" | translate }}:
      </label>
      <input
        type="date"
        id="hire-date"
        class="profile-info__tile-input"
        formControlName="hireDate"
        placeholder="hireDate"
      />
      @if (employeeForm.controls.hireDate.hasError("required")) {
        <div class="profile-info__tile-error">
          {{ "employees.details.validation.employee.date.of.hire" | translate }}
        </div>
      }
    </div>

    <div class="profile-info__tile">
      <div class="profile-info__tile-label--bigger">{{ "employees.details.skills.label" | translate }}</div>
      <div formArrayName="skillsList" class="profile-info__tile-skills">
        @if (skillsListControlArray.hasError("required")) {
          <div class="profile-info__tile-error">
            {{ "employees.details.validation.skills" | translate }}
          </div>
        }

        @for (skill of skillsListControlArray.controls; track skill; let i = $index) {
          <div [formGroupName]="i" class="profile-info__tile-skills-group">
            <input formControlName="name" placeholder="Skill Name" class="profile-info__tile-skills-group-element" />

            <select formControlName="proficiency" class="profile-info__tile-skills-group-element">
              @for (element of proficiencyValues; track element) {
                <option [value]="element" [selected]="element === skill.value.proficiency">
                  {{ "employees.details.skills.proficiency." + element | translate }}
                </option>
              }
            </select>
            <button
              class="profile-info__tile-button--delete profile-info__tile-button"
              type="button"
              (click)="deleteSkill(i)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
          @if (skill.get("name")!.hasError("required")) {
            <div class="profile-info__tile-error">{{ "employees.details.validation.skill.name" | translate }}</div>
          }
        }
        <button type="button" class="profile-info__tile-button" (click)="addSkill()">
          {{ "employees.details.skills.add.skill" | translate }}
        </button>
      </div>
    </div>

    <div class="profile-info__tile">
      <div class="profile-info__tile-label--bigger">{{ "employees.details.projects.label" | translate }}</div>
      @if (projectsListControlArray.hasError("required")) {
        <div class="profile-info__tile-error">{{ "employees.details.validation.projects" | translate }}</div>
      }
      <div formArrayName="projectsList" class="profile-info__tile-projects">
        @for (projects of projectsListControlArray.controls; track projects; let i = $index) {
          <div [formGroupName]="i" class="profile-info__tile-projects-group">
            <label for="project-name-{{ i }}" class="profile-info__tile-label">
              {{ "employees.details.projects.name.label" | translate }}
            </label>
            <input
              id="project-name-{{ i }}"
              formControlName="name"
              placeholder="{{ 'employees.details.projects.name.placeholder' | translate }}"
              class="profile-info__tile-projects-group-element profile-info__tile-projects-group-element--inline"
            />

            @if (projects.get("name")!.hasError("required")) {
              <div class="profile-info__tile-error">{{ "employees.details.validation.skill.name" | translate }}</div>
            }
            <label for="project-description-{{ i }}" class="profile-info__tile-label">Description:</label>
            <textarea
              id="project-description-{{ i }}"
              formControlName="description"
              placeholder="{{ 'employees.details.projects.description.placeholder' | translate }}"
              class="profile-info__tile-projects-group-element--big profile-info__tile-projects-group-element"
            ></textarea>
            @if (projects.get("description")!.hasError("required")) {
              <div class="profile-info__tile-error">
                {{ "employees.details.validation.project.description" | translate }}
              </div>
            }
            <button
              class="profile-info__tile-button--delete profile-info__tile-button"
              type="button"
              (click)="deleteProject(i)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
        }

        <button type="button" class="profile-info__tile-button" (click)="addProject()">
          {{ "employees.details.projects.add.project" | translate }}
        </button>
      </div>
    </div>

    <div class="profile-info__tile">
      <div class="profile-info__tile-label">{{ "employees.details.manager.label" | translate }}</div>
      <select class="profile-info__tile-select" id="managers" formControlName="manager">
        @if (!employee.manager) {
          <option value="default" disabled selected hidden>Choose manager</option>
        }

        @for (manager of managers; track manager) {
          <option [selected]="employee.manager && employee.manager.id === manager.id">
            {{ manager | fullName }}
          </option>
        }
        S
      </select>
      @if (employeeForm.controls.manager.hasError("required")) {
        <div class="profile-info__tile-error">{{ "employees.details.validation.employee.manager" | translate }}</div>
      }
    </div>

    <div class="profile-info__button-row">
      <button type="button" class="profile-info__button-row-element" (click)="onReset()">
        {{ "employees.details.buttons.reset" | translate }}
      </button>
      <button class="profile-info__button-row-element" [disabled]="employeeForm.invalid" type="submit">
        {{ "employees.details.buttons.submit" | translate }}
      </button>
    </div>
  </form>
</div>
