@import "../../../../../../../../public/assets/styles/styles";

$header-font-size: 1.1rem;
$row-gap: 1rem;
$title-height: 2rem;
$label-bigger-font-size: 1.2rem;

.profile-info {
  margin: 0 0 0 0;
  padding: 0 $normal-padding;
  background-color: $background-color;
  border: $border-default;
  box-shadow: $border-default-shadow;
  width: 40rem;

  &__spinner {
    margin-top: 5rem;
  }

  &__row {
    display: flex;
    gap: $row-gap;
    padding: $small-padding;
    & > .profile-info__tile {
      flex: 1;
    }
  }

  &__button-row {
    gap: $row-gap;
    justify-content: center;
    display: flex;
  }

  &__title {
    font-size: $header-font-size;
    height: $title-height;
    text-align: left;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: $normal-margin 0;
    padding: $small-padding $normal-padding;
  }

  &__tile {
    margin-bottom: $normal-margin;
    padding: $small-padding;
    flex: 1;

    &-managers {
      flex-direction: column;
      display: flex;
      margin-bottom: $big-margin;
      width: 100%;
    }

    &-button {
      align-self: flex-end;
    }

    &-projects {
      padding: $small-padding $normal-padding;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;

      &-group {
        flex-direction: column;
        display: flex;
        margin-bottom: $big-margin;
        width: 100%;
        position: relative;

        &-element {
          display: block;
          margin-bottom: $small-margin;
          width: 90%;

          &--inline {
            display: inline-block;
          }
        }

        &-button--delete {
          border: none;
          position: absolute;
          right: -1rem;
          top: 40%;
          color: $error;
        }
      }
    }

    &-skills {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
      padding: $small-padding;

      &-group {
        display: flex;
        width: 90%;
        margin-bottom: $small-margin;
        position: relative;

        &-element {
          width: 100%;
          margin: 0 $small-margin;
        }
      }
    }

    &-select {
      padding: $small-padding;
      width: 100%;
      display: block;
      border: $border-width solid $border;
      border-radius: $border-radius-size;
    }

    &-label {
      display: block;
      margin-bottom: $normal-margin;

      &--bigger {
        font-size: $label-bigger-font-size;
        margin-bottom: $small-margin;
      }
    }
    &-input {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: $small-margin;
      display: block;
      align-self: center;
      justify-self: center;
      font-weight: 400;
      line-height: 1.5;
      color: $text;
      background-clip: padding-box;
      transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

      &--full-width {
        width: 100%;
      }
    }

    &-error {
      color: $error;
      font-size: $error-font-size;
      display: block;
    }
  }
}
