@import "../../../../../public/assets/styles/styles";

$big-button-width: 12rem;
$small-button-min-width: 2rem;

.basic-button {
  background-color: $secondary;
  color: $text !important;
  padding: $small-padding;
  margin: $small-margin;

  &--big {
    color: $text !important;
    width: $big-button-width;
  }

  &--delete {
    color: $error !important;
  }

  &--small {
    padding: $small-padding !important;
    min-width: $small-button-min-width;
  }

  &--active {
    background-color: $primary !important;
  }

  &--header {
    background-color: $buttons;
  }
}
