@import "../../../../../public/assets/styles/styles";

.basic-button {
  background-color: $buttons;
  color: $text !important;
  padding: 0.5rem;
  margin: 0.5rem;
  &--big {
    background-color: $buttons;
    color: $text !important;
    width: 12rem;
  }
  &--delete {
    color: $error !important;
  }
  &--small {
    padding: 0.5rem !important;
    min-width: 2rem;
  }
}
