<div class="skills-tile">
  <div class="skills-tile__title">Skills:</div>
  <ul class="skills-tile__list">
    @for (skill of skillsFormArray.controls; track skill) {
      <li [formGroup]="skill" class="skills-tile__list-element">
        <label>Name:</label>
        <input class="skills-tile__list-element-name" formControlName="name" />
        <label>Description:</label>
        <input class="skills-tile__list-element-proficiency" formControlName="proficiency" />
        <label>Proficiency:</label>
        <input class="skills-tile__list-element-proficiency" formControlName="proficiency" />
      </li>
    }
  </ul>
</div>
