.skills-tile {
  &__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  &__list {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
    &-element {
      margin-bottom: 0.5rem;
      &-name {
        font-weight: bold;
      }
      &-description {
        display: block;
      }
      &-proficiency {
        display: block;
      }
    }
  }
}
