<div class="skills-tile">
  <div class="skills-tile__title">Skills:</div>
  <ul class="skills-tile__list">
    @for (skill of employee.skillsList; track skill.name) {
      <li class="skills-tile__list-element">
        <span class="skills-tile__list-element-name">{{ skill.name }}</span> -
        <span class="skills-tile__list-element-description">{{ skill.description }} </span>
        <span class="skills-tile__list-element-proficiency">(Proficiency: {{ skill.proficiency }})</span>
      </li>
    }
  </ul>
</div>
