<div class="skills-tile">
  <div class="skills-tile__title">Skills:</div>
  <div class="skills-tile__list">
    @for (skill of skillsList; track skill.name) {
      <div class="skills-tile__list-element">
        <span class="skills-tile__list-element-name">{{ skill.name }}</span> -
        <span class="skills-tile__list-element-description">{{ skill.description }} </span>
        <span class="skills-tile__list-element-proficiency">(Proficiency: {{ skill.proficiency }})</span>
      </div>
    }
  </div>
</div>
