<div class="profile-info">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="profile-info__title">Employee profile info</div>
    <div class="profile-info__row">
      <div class="profile-info__tile">
        <label for="name" class="profile-info__tile-label">Name:</label>
        <input id="name" class="profile-info__tile-input" type="text" formControlName="name" placeholder="name" />
        <!--        {{ employeeForm.controls.name.value | uppercase }}-->
        @if (employeeForm.controls.name.hasError('required')) {
          <div class="profile-info__tile-error">Name is required!</div>
        }
      </div>

      <div class="profile-info__tile">
        <label for="surname" class="profile-info__tile-label">Surname:</label>
        <input
          id="surname"
          class="profile-info__tile-input"
          type="text"
          formControlName="surname"
          placeholder="surname"
        />
        @if (employeeForm.controls.surname.hasError('required')) {
          <div class="profile-info__tile-error">Surname is required!</div>
        }
      </div>
    </div>
    <div class="profile-info__tile">
      <label for="hire-date" class="profile-info__tile-label"> Date of hire: </label>
      <input
        type="date"
        id="hire-date"
        class="profile-info__tile-input"
        formControlName="hireDate"
        placeholder="hireDate"
      />
    </div>

    <div class="profile-info__tile">
      <div class="profile-info__tile-label--bigger">Skills:</div>
      <!--      <app-employee-details-skills [skillsList]="employee.skillsList"> </app-employee-details-skills>-->
      <div formArrayName="skillsList" class="profile-info__tile-skills">
        @for (skill of skillsList.controls; track skill; let i = $index) {
          <div [formGroupName]="i" class="profile-info__tile-skills-group">
            <input formControlName="name" placeholder="Skill Name" class="profile-info__tile-skills-group-element" />
            @if (skill.get('name')!.hasError('required')) {
              <div class="profile-info__tile-error">Skill name is required!</div>
            }
            <select formControlName="proficiency" class="profile-info__tile-skills-group-element">
              @for (element of proficiencyValues; track element) {
                <option [value]="element" [selected]="element === skill.value.proficiency">{{ element }}</option>
              }
            </select>
            <button
              class="profile-info__tile-skills-button--delete profile-info__tile-skills-button"
              (click)="deleteSkill(i)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
        }
        <button type="button" class="profile-info__tile-skills-button" (click)="addSkill()">Add Skill</button>
      </div>
    </div>

    <div class="profile-info__tile">
      <div class="profile-info__tile-label--bigger">Projects:</div>

      <div formArrayName="projectsList" class="profile-info__tile-projects">
        @for (projects of projectsList.controls; track projects; let i = $index) {
          <div [formGroupName]="i" style="margin-bottom: 1rem">
            <label for="project-name-{{ i }}" class="profile-info__tile-label">Name:</label>
            <input
              id="project-name-{{ i }}"
              formControlName="name"
              placeholder="Project Name"
              class="profile-info__tile-projects-element"
            />
            @if (projects.get('name')!.hasError('required')) {
              <div class="profile-info__tile-error">Name is required!</div>
            }
            <label for="project-description-{{ i }}" class="profile-info__tile-label">Description:</label>
            <textarea
              id="project-description-{{ i }}"
              formControlName="description"
              placeholder="Description"
              class="profile-info__tile-projects-element--big profile-info__tile-projects-element"
            ></textarea>
            @if (projects.get('description')!.hasError('required')) {
              <div class="profile-info__tile-error">Description is required!</div>
            }

            <!--            <div class="profile-info__tile-skills-button&#45;&#45;delete fa fa-trash" (click)="deleteSkill(i)"></div>-->
          </div>
        }

        <button type="button" class="profile-info__tile-skills-button" (click)="addProject()">Add Project</button>
      </div>
    </div>

    <div class="profile-info__tile">
      <div class="profile-info__tile-label">Manager:</div>
      <select class="profile-info__tile-select" id="managers" formControlName="manager">
        @if (!employee.manager) {
          <option value="default" disabled selected hidden>Choose manager</option>
        }

        @for (manager of managers; track manager) {
          <option [selected]="employee.manager && employee.manager.id === manager.id">
            {{ getManagerFullName(manager) }}
          </option>
        }
      </select>
      @if (employeeForm.controls.manager.hasError('required')) {
        <div class="profile-info__tile-error">Manager is required!</div>
      }
    </div>

    <div class="profile-info__button-row">
      <button type="button" class="profile-info__button-row-element" (click)="onReset()">reset</button>
      <button class="profile-info__button-row-element" type="submit">submit</button>
    </div>
  </form>
</div>
