@import '../../../styles';

.profile-info {
  margin: 0 0 0 0;

  &__row {
    display: flex;

    gap: 1rem;

    & > .profile-info__tile {
      flex: 1;
      margin-right: 1rem;
      padding-bottom: 1rem;
      height: 2.5rem;
    }
  }
  &__button-row {
    display: flex;
    gap: 1rem;
    &-element {
      flex: 1;
      padding: 0.5rem 1rem;
      border-radius: $border-radius-size;
      transition: background-color 0.3s ease;
      cursor: pointer;
      box-sizing: border-box;
      margin: 1rem;
      border: 1px solid $border;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: $secondary;
      }
    }
  }

  &__title {
    height: 2rem;
    background-color: $menu;
    border-bottom: 1px solid $border;
    text-align: left;
    display: flex;
    align-items: center;

    font-weight: bold;
    padding: 0.5rem 1rem;
  }
  &__tile {
    margin-bottom: 1rem;
    padding: 0.5rem;
    align-items: stretch;
    flex: 1;
    &-label {
      font-size: 0.8rem;
    }
    &-input {
      width: calc(100% - 1.4rem);

      margin-bottom: 0.5rem;
      display: block;

      padding: 0.3rem 0.7rem;
      font-weight: 400;
      line-height: 1.5;
      color: $text;
      background-clip: padding-box;
      border: $border-width solid $border;
      border-radius: $border-radius-size;
      transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    }
    &-error {
      color: $error;
      font-size: 0.8rem;
    }
  }
}
