<div class="profile-info">
  <form [formGroup]="employeeForm">
    <div class="profile-info__title">Employee profile info</div>

    <div class="profile-info__row">
      <div class="profile-info__tile">
        <label for="name" class="profile-info__tile-label">Name:</label>
        <input id="name" class="profile-info__tile-input" type="text" formControlName="name" placeholder="name" />
        <!--        {{ employeeForm.controls.name.value | uppercase }}-->
        @if (employeeForm.controls.name.hasError('required')) {
          <div class="profile-info__tile-error">Name is required!</div>
        }
      </div>

      <div class="profile-info__tile">
        <label for="surname" class="profile-info__tile-label">Surname:</label>
        <input
          id="surname"
          class="profile-info__tile-input"
          type="text"
          formControlName="surname"
          placeholder="surname"
        />
        @if (employeeForm.controls.surname.hasError('required') && employeeForm.controls.surname.touched) {
          <div class="profile-info__tile-error">Surname is required!</div>
        }
        <!--        {{ employeeForm.controls.surname.value }}-->
      </div>
    </div>
    <div class="profile-info__tile">
      <label for="hire-date" class="profile-info__tile-label"> Date of hire: </label>
      <input
        type="date"
        id="hire-date"
        class="profile-info__tile-input"
        formControlName="hireDate"
        placeholder="hireDate"
      />
      {{ employeeForm.controls.hireDate.value }}
    </div>
  </form>

  <div class="profile-info__tile">
    <app-employee-details-skills [employee]="employee"></app-employee-details-skills>
  </div>

  <div class="profile-info__tile">
    <app-employee-details-projects [employee]="employee"></app-employee-details-projects>
  </div>

  <div class="profile-info__tile">
    <span> Manager: </span>
    <span class="profile-info__tile-input"> {{ getManagerFullName() }}</span>
  </div>

  <div class="profile-info__button-row">
    <button class="profile-info__button-row-element" type="reset">reset</button>
    <button class="profile-info__button-row-element" type="submit">submit</button>
  </div>
</div>
