<div class="profileInfo">
  <h2 class="profileInfo__title">Employee profile info</h2>

  <div class="profileInfo__tile">
    <label for="name" class="tile__label"> name: </label>
    <input id="name" class="tile__input" [(ngModel)]="exampleEmployee.name" placeholder="name" />
    <!--    podglądowo + uppercase-->
    {{ exampleEmployee.name | uppercase }}
  </div>

  <div class="profileInfo__tile">
    <label for="surname" class="tile__label"> surname: </label>
    <input id="surname" class="tile__input" [(ngModel)]="exampleEmployee.surname" placeholder="surname" />
    <!--    pogladowo-->
    {{ exampleEmployee.surname }}
  </div>

  <div class="profileInfo__tile">
    <label for="hireDate" class="tile__label"> Date of hire: </label>
    <input id="hireDate" class="tile__input" [(ngModel)]="exampleEmployee.hireDate" placeholder="surname" disabled />
  </div>
</div>
