<div class="profile-info">
  <h2 class="profileInfo__title">Employee profile info</h2>

  <div class="profile-info__tile">
    <label for="name" class="tile__label"> name: </label>
    <input id="name" class="tile__input" [(ngModel)]="exampleEmployee.name" placeholder="name" />
    {{ exampleEmployee.name | uppercase }}
  </div>

  <div class="profile-info__tile">
    <label for="surname" class="tile__label"> surname: </label>
    <input id="surname" class="tile__input" [(ngModel)]="exampleEmployee.surname" placeholder="surname" />
    {{ exampleEmployee.surname }}
  </div>

  <div class="profile-info__tile">
    <label for="hire-date" class="tile__label"> Date of hire: </label>
    <input id="hire-date" class="tile__input" [(ngModel)]="exampleEmployee.hireDate" placeholder="surname" disabled />
  </div>
</div>
