$font-size-body: 10px;
$font-size-content: 1.6rem;
$border-radius-size: 0.25rem;

body {
  font-size: $font-size-body;
}

.content {
  font-size: 1rem;
  margin: 2% 20% 0 20%;
}
.tile__input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: $border-radius-size;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.tile__label {
  margin-bottom: 0.5rem;
}

.profile-info {
  margin: 2% 0 0 0;
}

.profile-info__tile {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.employees-list__button {
  width: 200px;
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  border: 1px solid #ced4da;
  margin: 1em;
  padding: 1em;
  border-radius: 4px;
  display: flex;
  height: 1.8em;
  align-items: center;
}

.employees-list__button--selected {
  background-color: bisque;
}

.employees-list__button:hover {
  background-color: beige;
}

.employees-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.button__name-surname {
  margin: 0 auto;
}
