@import "../../../../../../../public/assets/styles/styles";

.employees-dashboard {
  justify-self: center !important;
  align-self: center !important;
  justify-content: center !important;

  &__card {
    justify-self: center !important;
    align-self: center !important;
    justify-content: center !important;
    display: flex;
    background-color: white;
    border: $border-default;
    box-shadow: $border-default-shadow;
  }

  &__header {
    align-self: center;
    justify-self: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  &__content {
    display: flex;
    justify-content: center;

    &-chips {
      margin: 1rem;
      border: $border-default !important;
      box-shadow: $border-default-shadow;
    }
  }
}
