@import "../../../../../../../public/assets/styles/styles";

$dashboard-header-font-size: 1.8rem;

.employees-dashboard {
  width: 60%;
  justify-self: center !important;
  align-self: center !important;
  justify-content: center !important;

  &__card {
    justify-self: center !important;
    align-self: center !important;
    justify-content: center !important;
    display: flex;
    background-color: $background-color;
    border: $border-default;
    box-shadow: $border-default-shadow;
  }

  &__header {
    align-self: center;
    justify-self: center;
    font-size: $dashboard-header-font-size;
    margin-bottom: $big-margin;
    margin-top: $normal-margin;
  }

  &__content {
    display: flex;
    justify-content: center;

    &-chips {
      margin: $normal-margin;
      border: $border-default !important;
      box-shadow: $border-default-shadow;
    }
  }
}
