@import '../../../../../../../../public/assets/styles/styles';

.employees {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &__button {
    margin-right: $big-margin;
  }

  &__details {
    width: 55%;
    margin-left: $big-margin;
    display: flex;
    justify-content: center;
  }

  &__list {
    width: 40%;
    display: inline-block;
    align-content: start;
  }
}
